@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-3xl font-bold underline">Welcome</h1>
    <div class="items-container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
</div>